*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #fdfdfd;
    font-family: 'Montserrat';
    font-size: 17px;
    overflow-x: hidden;
}

nav{
    height: 10vh;
    background-color: #2d3596;
}

.nav-item{
    color:white;
    margin-right: 15px;
}

.act{
    color: #f0a20e;
    border-bottom: 2px solid #f0a20e;
}

.navbar ul li a:hover{
    color: #f0a20e;
    border-bottom: 2px solid #f0a20e;
}

.container span{
    color: #f0a20e;
}

input[type=submit]:hover {
    color:white;
    background-color: #2c6834;
  }


